* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 13px;   
    overflow-x: hidden; 
}







/* cabeçalho */

header {
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* cabeçalho fim */








/* logo cabeçalho */
.logo {
    width: 100px;
    
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
} 

/* logo cabeçalho fim */








/* menu */

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.menu ul ,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu  a.active {
    border-bottom: 5px solid #b28756;
    color: lightgray;
}

/* menu fim */











/* banner */

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/media/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
    
    
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}


.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}



.banner a:hover {
    background-color: #c79154;
    font-size: 13px;
}

.banner .slidersPointers{
    width: 100vw;
    height: 20px;
    
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner  .pointer .active{
    background-color: #b28756;
}

/* banner fim  */










/* modelo titulos e subtitulos */


.default {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #CCC;
  }
  
  .default .sectionTitle,
  .default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .default .sectionTitle {
    font-size: 20px;
  }
  
  .default .sectionDesc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .default .sectionBody {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
    
  }
  
  .default.light {
    background-color: #f7f7f7;
  }
  
  .default.light .sectionTitle {
    color: black;
  }

  .default .light .sectionTitle,
  .default .light .sectionBody{
    color: black;
  }

  
  
  .default.dark {
    background-color: black;
  }
  
  .default.dark .sectionTitle {
    color: white;
  }

  .default.dark .sectionTitle,
    .default.dark .sectionBody {
  color: white;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background-color: #c79154;
}
  


  /* modelo titulos e subtitulos fim */







  /* about us */

.sectionAboutUs {
    display: flex;

}

.sectionAboutUsLeft{
    flex: 1;
}

.sectionAboutUsLeft p {
    font-size: 14px;
    line-height: 25px;
}

.sectionAboutUsRight {
    width: 520px;
    text-align: center;
    
}

.sectionAboutUsRight img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/* about us fim  */









/* services */

.sectionServices {
    display: flex;
}

.sectionService {
    flex: 1;
    text-align: center;
    border-right:  1px solid #333;
    padding: 15px;
}

.sectionService:first-child {
    border-left: 1px solid #333;
}

.sectionService h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;

}

.sectionService p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;

}

/* services fim */










/* Our Projects */

.sectionProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionProjectsFilters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.sectionProjectsFilters ul,
.sectionProjectsFilters li {
    list-style: none;
}

.sectionProjectsFilters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #DDD;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.sectionProjectsFilters li:hover,
.sectionProjectsFilters li.active {
    border-bottom: 3px solid #b28756;
}


.sectionProjectsFilters li:first-child {
    border-left: none;
}


.sectionProjectsFotos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionProjectsFoto {
    width: 280px;

}